3-WSDL/CommonInteroperabilityRegistry.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:cir="http://www.openoandm.org/xml/CIR/"
	targetNamespace="http://www.openoandm.org/xml/CIR/">
	
	<wsdl:types>
		<xs:schema targetNamespace="http://www.openoandm.org/xml/CIR/">
			<xs:include schemaLocation="../2-XSD/CommonInteroperabilityRegistry.xsd"/>
		</xs:schema>
	</wsdl:types>

	<wsdl:message name="CreateRegistryIn">
		<wsdl:part name="parameters" element="cir:CreateRegistry"/>
	</wsdl:message>
	<wsdl:message name="CreateRegistryOut">
		<wsdl:part name="parameters" element="cir:CreateRegistryResponse"/>
	</wsdl:message>
	<wsdl:message name="CreateEquivalentEntriesIn">
		<wsdl:part name="parameters" element="cir:CreateEquivalentEntries"/>
	</wsdl:message>
	<wsdl:message name="CreateEquivalentEntriesOut">
		<wsdl:part name="parameters" element="cir:CreateEquivalentEntriesResponse"/>
	</wsdl:message>
	<wsdl:message name="UpdateRegistryIn">
		<wsdl:part name="parameters" element="cir:UpdateRegistry"/>
	</wsdl:message>
	<wsdl:message name="UpdateRegistryOut">
		<wsdl:part name="parameters" element="cir:UpdateRegistryResponse"/>
	</wsdl:message>
	<wsdl:message name="UpdateEntryCIRIDIn">
		<wsdl:part name="parameters" element="cir:UpdateEntryCIRID"/>
	</wsdl:message>
	<wsdl:message name="UpdateEntryCIRIDOut">
		<wsdl:part name="parameters" element="cir:UpdateEntryCIRIDResponse"/>
	</wsdl:message>
	<wsdl:message name="DeleteRegistryIn">
		<wsdl:part name="parameters" element="cir:DeleteRegistry"/>
	</wsdl:message>
	<wsdl:message name="DeleteRegistryOut">
		<wsdl:part name="parameters" element="cir:DeleteRegistryResponse"/>
	</wsdl:message>
	<wsdl:message name="DeleteCategoryIn">
		<wsdl:part name="parameters" element="cir:DeleteCategory"/>
	</wsdl:message>
	<wsdl:message name="DeleteCategoryOut">
		<wsdl:part name="parameters" element="cir:DeleteCategoryResponse"/>
	</wsdl:message>
	<wsdl:message name="DeleteEntriesIn">
		<wsdl:part name="parameters" element="cir:DeleteEntries"/>
	</wsdl:message>
	<wsdl:message name="DeleteEntriesOut">
		<wsdl:part name="parameters" element="cir:DeleteEntriesResponse"/>
	</wsdl:message>
	<wsdl:message name="DeletePropertiesIn">
		<wsdl:part name="parameters" element="cir:DeleteProperties"/>
	</wsdl:message>
	<wsdl:message name="DeletePropertiesOut">
		<wsdl:part name="parameters" element="cir:DeletePropertiesResponse"/>
	</wsdl:message>
	<wsdl:message name="GetRegistryIn">
		<wsdl:part name="parameters" element="cir:GetRegistry"/>
	</wsdl:message>
	<wsdl:message name="GetRegistryOut">
		<wsdl:part name="parameters" element="cir:GetRegistryResponse"/>
	</wsdl:message>
	<wsdl:message name="GetEquivalentEntriesIn">
		<wsdl:part name="parameters" element="cir:GetEquivalentEntries"/>
	</wsdl:message>
	<wsdl:message name="GetEquivalentEntriesOut">
		<wsdl:part name="parameters" element="cir:GetEquivalentEntriesResponse"/>
	</wsdl:message>
	<wsdl:message name="GetEntriesByCIRIDIn">
		<wsdl:part name="parameters" element="cir:GetEntriesByCIRID"/>
	</wsdl:message>
	<wsdl:message name="GetEntriesByCIRIDOut">
		<wsdl:part name="parameters" element="cir:GetEntriesByCIRIDResponse"/>
	</wsdl:message>
	<wsdl:message name="CreateRegistryFault">
		<wsdl:part name="parameters" element="cir:CreateRegistryFault"/>
	</wsdl:message>
	<wsdl:message name="CreateCategoryFault">
		<wsdl:part name="parameters" element="cir:CreateCategoryFault"/>
	</wsdl:message>
	<wsdl:message name="RegistryNotFoundFault">
		<wsdl:part name="parameters" element="cir:RegistryNotFoundFault"/>
	</wsdl:message>
	<wsdl:message name="CategoryNotFoundFault">
		<wsdl:part name="parameters" element="cir:CategoryNotFoundFault"/>
	</wsdl:message>
	<wsdl:message name="EntryNotFoundFault">
		<wsdl:part name="parameters" element="cir:EntryNotFoundFault"/>
	</wsdl:message>
	<wsdl:message name="PropertyNotFoundFault">
		<wsdl:part name="parameters" element="cir:PropertyNotFoundFault"/>
	</wsdl:message>
	<wsdl:message name="DuplicateEntryFault">
		<wsdl:part name="parameters" element="cir:DuplicateEntryFault"/>
	</wsdl:message>
	<wsdl:message name="DuplicatePropertyFault">
		<wsdl:part name="parameters" element="cir:DuplicatePropertyFault"/>
	</wsdl:message>

	<wsdl:portType name="CIRService">
		<wsdl:operation name="CreateRegistry">
			<wsdl:documentation>Creates a new Registry, new Category in a Registry, new Entries in a Category, and Properties with Values in an Entry.</wsdl:documentation>
			<wsdl:input message="cir:CreateRegistryIn"/>
			<wsdl:output message="cir:CreateRegistryOut"/>
			<wsdl:fault name="CreateRegistryFault" message="cir:CreateRegistryFault"/>
			<wsdl:fault name="CreateCategoryFault" message="cir:CreateCategoryFault"/>
			<wsdl:fault name="DuplicateEntryFault" message="cir:DuplicateEntryFault"/>
			<wsdl:fault name="DuplicatePropertyFault" message="cir:DuplicatePropertyFault"/>
		</wsdl:operation>
		<wsdl:operation name="CreateEquivalentEntries">
			<wsdl:documentation>Creates Entries and associated Properties, and links a new Entry to an existing equivalent Entry.</wsdl:documentation>
			<wsdl:input message="cir:CreateEquivalentEntriesIn"/>
			<wsdl:output message="cir:CreateEquivalentEntriesOut"/>
			<wsdl:fault name="EntryNotFoundFault" message="cir:EntryNotFoundFault"/>
			<wsdl:fault name="RegistryNotFoundFault" message="cir:RegistryNotFoundFault"/>
			<wsdl:fault name="CategoryNotFoundFault" message="cir:CategoryNotFoundFault"/>
			<wsdl:fault name="DuplicateEntryFault" message="cir:DuplicateEntryFault"/>
		</wsdl:operation>
		<wsdl:operation name="UpdateRegistry">
			<wsdl:documentation>Updates the attributes of existing Registries, Categories, Entries or Properties.</wsdl:documentation>
			<wsdl:input message="cir:UpdateRegistryIn"/>
			<wsdl:output message="cir:UpdateRegistryOut"/>
			<wsdl:fault name="RegistryNotFoundFault" message="cir:RegistryNotFoundFault"/>
			<wsdl:fault name="CategoryNotFoundFault" message="cir:CategoryNotFoundFault"/>
			<wsdl:fault name="EntryNotFoundFault" message="cir:EntryNotFoundFault"/>
			<wsdl:fault name="PropertyNotFoundFault" message="cir:PropertyNotFoundFault"/>
		</wsdl:operation>
		<wsdl:operation name="UpdateEntryCIRID">
			<wsdl:documentation>Replaces the CIRID field on matching Entries with a new CIRID value.</wsdl:documentation>
			<wsdl:input message="cir:UpdateEntryCIRIDIn"/>
			<wsdl:output message="cir:UpdateEntryCIRIDOut"/>
		</wsdl:operation>
		<wsdl:operation name="DeleteRegistry">
			<wsdl:documentation>Deletes the specified Registry along with its Categories, Entries and Properties.</wsdl:documentation>
			<wsdl:input message="cir:DeleteRegistryIn"/>
			<wsdl:output message="cir:DeleteRegistryOut"/>
			<wsdl:fault name="RegistryNotFoundFault" message="cir:RegistryNotFoundFault"/>
		</wsdl:operation>
		<wsdl:operation name="DeleteCategory">
			<wsdl:documentation>Deletes the specified Category along with its Entries and Properties.</wsdl:documentation>
			<wsdl:input message="cir:DeleteCategoryIn"/>
			<wsdl:output message="cir:DeleteCategoryOut"/>
			<wsdl:fault name="RegistryNotFoundFault" message="cir:RegistryNotFoundFault"/>
			<wsdl:fault name="CategoryNotFoundFault" message="cir:CategoryNotFoundFault"/>
		</wsdl:operation>
		<wsdl:operation name="DeleteEntries">
			<wsdl:documentation>Deletes the specified Entries along with its Properties.</wsdl:documentation>
			<wsdl:input message="cir:DeleteEntriesIn"/>
			<wsdl:output message="cir:DeleteEntriesOut"/>
			<wsdl:fault name="RegistryNotFoundFault" message="cir:RegistryNotFoundFault"/>
			<wsdl:fault name="CategoryNotFoundFault" message="cir:CategoryNotFoundFault"/>
			<wsdl:fault name="EntryNotFoundFault" message="cir:EntryNotFoundFault"/>
		</wsdl:operation>
		<wsdl:operation name="DeleteProperties">
			<wsdl:documentation>Deletes the specified Properties.</wsdl:documentation>
			<wsdl:input message="cir:DeletePropertiesIn"/>
			<wsdl:output message="cir:DeletePropertiesOut"/>
			<wsdl:fault name="RegistryNotFoundFault" message="cir:RegistryNotFoundFault"/>
			<wsdl:fault name="CategoryNotFoundFault" message="cir:CategoryNotFoundFault"/>
			<wsdl:fault name="EntryNotFoundFault" message="cir:EntryNotFoundFault"/>
			<wsdl:fault name="PropertyNotFoundFault" message="cir:PropertyNotFoundFault"/>
		</wsdl:operation>
		<wsdl:operation name="GetRegistry">
			<wsdl:documentation>Returns all Registries, Categories, Entries and Properties filtered by the specified conditions.</wsdl:documentation>
			<wsdl:input message="cir:GetRegistryIn"/>
			<wsdl:output message="cir:GetRegistryOut"/>
		</wsdl:operation>
		<wsdl:operation name="GetEquivalentEntries">
			<wsdl:documentation>Returns any equivalent Entries to the specified existing Entries (i.e. by identifying all Entries with the same CIRID to the existing Entries). Multiple entries are specified by IDInSource and SourceID pairs. A TargetSourceID or list of TargetSourceIDs can be specified to filter returned Entries.</wsdl:documentation>
			<wsdl:input message="cir:GetEquivalentEntriesIn"/>
			<wsdl:output message="cir:GetEquivalentEntriesOut"/>
		</wsdl:operation>
		<wsdl:operation name="GetEntriesByCIRID">
			<wsdl:documentation>Returns any equivalent Entries to the specified existing Entry (i.e. by identifying all other Entries with the same CIRID to the existing Entry). An Entry is specified by CIRID. A Target SourceID or list of SourceIDs can be specified to filter returned Entries.</wsdl:documentation>
			<wsdl:input message="cir:GetEntriesByCIRIDIn"/>
			<wsdl:output message="cir:GetEntriesByCIRIDOut"/>
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:binding name="CIRServiceSoap" type="cir:CIRService">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="CreateRegistry">
			<soap:operation soapAction="http://www.openoandm.org/xml/CIR/CreateRegistry" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="CreateRegistryFault">
				<soap:fault name="CreateRegistryFault" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="CreateCategoryFault">
				<soap:fault name="CreateCategoryFault" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="DuplicateEntryFault">
				<soap:fault name="DuplicateEntryFault" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="DuplicatePropertyFault">
				<soap:fault name="DuplicatePropertyFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="CreateEquivalentEntries">
			<soap:operation soapAction="http://www.openoandm.org/xml/CIR/CreateEquivalentEntries" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="EntryNotFoundFault">
				<soap:fault name="EntryNotFoundFault" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="RegistryNotFoundFault">
				<soap:fault name="RegistryNotFoundFault" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="CategoryNotFoundFault">
				<soap:fault name="CategoryNotFoundFault" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="DuplicateEntryFault">
				<soap:fault name="DuplicateEntryFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="UpdateRegistry">
			<soap:operation soapAction="http://www.openoandm.org/xml/CIR/UpdateRegistry" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="RegistryNotFoundFault">
				<soap:fault name="RegistryNotFoundFault" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="CategoryNotFoundFault">
				<soap:fault name="CategoryNotFoundFault" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="EntryNotFoundFault">
				<soap:fault name="EntryNotFoundFault" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="PropertyNotFoundFault">
				<soap:fault name="PropertyNotFoundFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="UpdateEntryCIRID">
			<soap:operation soapAction="http://www.openoandm.org/xml/CIR/UpdateEntryCIRID" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="DeleteRegistry">
			<soap:operation soapAction="http://www.openoandm.org/xml/CIR/DeleteRegistry" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="RegistryNotFoundFault">
				<soap:fault name="RegistryNotFoundFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="DeleteCategory">
			<soap:operation soapAction="http://www.openoandm.org/xml/CIR/DeleteCategory" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="RegistryNotFoundFault">
				<soap:fault name="RegistryNotFoundFault" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="CategoryNotFoundFault">
				<soap:fault name="CategoryNotFoundFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="DeleteEntries">
			<soap:operation soapAction="http://www.openoandm.org/xml/CIR/DeleteEntries" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="RegistryNotFoundFault">
				<soap:fault name="RegistryNotFoundFault" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="CategoryNotFoundFault">
				<soap:fault name="CategoryNotFoundFault" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="EntryNotFoundFault">
				<soap:fault name="EntryNotFoundFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="DeleteProperties">
			<soap:operation soapAction="http://www.openoandm.org/xml/CIR/DeleteProperties" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="RegistryNotFoundFault">
				<soap:fault name="RegistryNotFoundFault" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="CategoryNotFoundFault">
				<soap:fault name="CategoryNotFoundFault" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="EntryNotFoundFault">
				<soap:fault name="EntryNotFoundFault" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="PropertyNotFoundFault">
				<soap:fault name="PropertyNotFoundFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="GetRegistry">
			<soap:operation soapAction="http://www.openoandm.org/xml/CIR/GetRegistry" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetEquivalentEntries">
			<soap:operation soapAction="http://www.openoandm.org/xml/CIR/GetEquivalentEntries" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetEntriesByCIRID">
			<soap:operation soapAction="http://www.openoandm.org/xml/CIR/GetEntriesByCIRID" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>

	<wsdl:binding name="CIRServiceSoap12" type="cir:CIRService">
		<soap12:binding transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="CreateRegistry">
			<soap12:operation soapAction="http://www.openoandm.org/xml/CIR/CreateRegistry" style="document"/>
			<wsdl:input>
				<soap12:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="CreateRegistryFault">
				<soap12:fault name="CreateRegistryFault" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="CreateCategoryFault">
				<soap12:fault name="CreateCategoryFault" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="DuplicateEntryFault">
				<soap12:fault name="DuplicateEntryFault" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="DuplicatePropertyFault">
				<soap12:fault name="DuplicatePropertyFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="CreateEquivalentEntries">
			<soap12:operation soapAction="http://www.openoandm.org/xml/CIR/CreateEquivalentEntries" style="document"/>
			<wsdl:input>
				<soap12:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="EntryNotFoundFault">
				<soap12:fault name="EntryNotFoundFault" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="RegistryNotFoundFault">
				<soap12:fault name="RegistryNotFoundFault" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="CategoryNotFoundFault">
				<soap12:fault name="CategoryNotFoundFault" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="DuplicateEntryFault">
				<soap12:fault name="DuplicateEntryFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="UpdateRegistry">
			<soap12:operation soapAction="http://www.openoandm.org/xml/CIR/UpdateRegistry" style="document"/>
			<wsdl:input>
				<soap12:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="RegistryNotFoundFault">
				<soap12:fault name="RegistryNotFoundFault" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="CategoryNotFoundFault">
				<soap12:fault name="CategoryNotFoundFault" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="EntryNotFoundFault">
				<soap12:fault name="EntryNotFoundFault" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="PropertyNotFoundFault">
				<soap12:fault name="PropertyNotFoundFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="UpdateEntryCIRID">
			<soap12:operation soapAction="http://www.openoandm.org/xml/CIR/UpdateEntryCIRID" style="document"/>
			<wsdl:input>
				<soap12:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="DeleteRegistry">
			<soap12:operation soapAction="http://www.openoandm.org/xml/CIR/DeleteRegistry" style="document"/>
			<wsdl:input>
				<soap12:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="RegistryNotFoundFault">
				<soap12:fault name="RegistryNotFoundFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="DeleteCategory">
			<soap12:operation soapAction="http://www.openoandm.org/xml/CIR/DeleteCategory" style="document"/>
			<wsdl:input>
				<soap12:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="RegistryNotFoundFault">
				<soap12:fault name="RegistryNotFoundFault" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="CategoryNotFoundFault">
				<soap12:fault name="CategoryNotFoundFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="DeleteEntries">
			<soap12:operation soapAction="http://www.openoandm.org/xml/CIR/DeleteEntries" style="document"/>
			<wsdl:input>
				<soap12:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="RegistryNotFoundFault">
				<soap12:fault name="RegistryNotFoundFault" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="CategoryNotFoundFault">
				<soap12:fault name="CategoryNotFoundFault" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="EntryNotFoundFault">
				<soap12:fault name="EntryNotFoundFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="DeleteProperties">
			<soap12:operation soapAction="http://www.openoandm.org/xml/CIR/DeleteProperties" style="document"/>
			<wsdl:input>
				<soap12:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="RegistryNotFoundFault">
				<soap12:fault name="RegistryNotFoundFault" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="CategoryNotFoundFault">
				<soap12:fault name="CategoryNotFoundFault" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="EntryNotFoundFault">
				<soap12:fault name="EntryNotFoundFault" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="PropertyNotFoundFault">
				<soap12:fault name="PropertyNotFoundFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="GetRegistry">
			<soap12:operation soapAction="http://www.openoandm.org/xml/CIR/GetRegistry" style="document"/>
			<wsdl:input>
				<soap12:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetEquivalentEntries">
			<soap12:operation soapAction="http://www.openoandm.org/xml/CIR/GetEquivalentEntries" style="document"/>
			<wsdl:input>
				<soap12:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetEntriesByCIRID">
			<soap12:operation soapAction="http://www.openoandm.org/xml/CIR/GetEntriesByCIRID" style="document"/>
			<wsdl:input>
				<soap12:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>

	<wsdl:service name="CIRService">
		<wsdl:port name="CIRServiceSoap" binding="cir:CIRServiceSoap">
			<soap:address location="http://localhost/CIRService"/>
		</wsdl:port>
		<wsdl:port name="CIRServiceSoap12" binding="cir:CIRServiceSoap12">
			<soap12:address location="http://localhost/CIRService"/>
		</wsdl:port>
	</wsdl:service>

</wsdl:definitions>
