2-XSD/CommonInteroperabilityRegistry.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
	Schema agency: OpenO&M
	Revision:      CIR 1.0
	Date:          01 July 2012
	Copyright MIMOSA 2012. All Rights Reserved.

	License information for this file is provided in the file "License Agreement.txt" that is provided with this download package.

	For support, more information, or to report errors, please contact MIMOSA at http://www.mimosa.org.
-->
<xs:schema
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:cct="urn:un:unece:uncefact:documentation:standard:CoreComponentType:2"
	xmlns:cir="http://www.openoandm.org/xml/CIR/"
	targetNamespace="http://www.openoandm.org/xml/CIR/"
	elementFormDefault="qualified"
	attributeFormDefault="unqualified">

	<xs:annotation>
		<xs:documentation>
OpenO&amp;M Common Interoperability Registry (CIR)
Copyright 2011. MIMOSA and World Batch Forum (WBF).
All Rights Reserved. http://www.openoandm.org

This OpenO&amp;M Work (including specifications, documents, software, and related items) referred to as the OpenO&amp;M Common Interoperability Registry is provided by the copyright holders under the following license.

Permission to use, copy, modify, or redistribute this Work and its documentation, with or without modification, for any purpose and without fee or royalty is hereby granted provided OpenO&amp;M and the World Batch Forum are acknowledged as the originator of this Work using the following statement:

"The Common Interoperability Registry (CIR) is used courtesy of OpenO&amp;M. The Business To Manufacturing Markup Language (B2MML) is used courtesy of WBF."

In no event shall the OpenO&amp;M, its members, or any third party be liable for any costs, expenses, losses, damages or injuries incurred by use of the Work or as a result of this agreement.
		</xs:documentation>
	</xs:annotation>

	<xs:import namespace="urn:un:unece:uncefact:documentation:standard:CoreComponentType:2" schemaLocation="CoreComponentType_2p0.xsd"/>

	<!-- =========== -->
	<!-- Value Types -->
	<!-- =========== -->

	<xs:simpleType name="UUID">
		<xs:annotation>
			<xs:documentation>UUID is a GUID of 32 bytes represented as hex characters with dashes. Format xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx (8-4-4-4-12 characters). See RFC 4122 - A Universally Unique IDentifier (UUID) URN Namespace.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}"/>
		</xs:restriction>
	</xs:simpleType>

	<!-- ============ -->
	<!-- Entity Types -->
	<!-- ============ -->

	<xs:complexType name="Registry">
		<xs:sequence>
			<xs:element minOccurs="1" maxOccurs="1" name="ID" type="cct:IDType"/>
			<xs:element minOccurs="0" maxOccurs="unbounded" name="Description" type="cct:TextType"/>
			<xs:element minOccurs="0" maxOccurs="unbounded" name="Category" type="cir:Category"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="Category">
		<xs:sequence>
			<xs:element minOccurs="1" maxOccurs="1" name="ID" type="cct:IDType"/>
			<xs:element minOccurs="1" maxOccurs="1" name="CategorySourceID" type="cct:IDType"/>
			<xs:element minOccurs="0" maxOccurs="unbounded" name="Description" type="cct:TextType"/>
			<xs:element minOccurs="0" maxOccurs="unbounded" name="Entry" type="cir:Entry"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="Entry">
		<xs:sequence>
			<xs:element minOccurs="1" maxOccurs="1" name="IDInSource" type="cct:IDType"/>
			<xs:element minOccurs="1" maxOccurs="1" name="SourceID" type="cct:IDType"/>
			<xs:element minOccurs="0" maxOccurs="1" name="CIRID" type="cir:UUID"/>
			<xs:element minOccurs="0" maxOccurs="1" name="SourceOwnerID" type="cct:IDType"/>
			<xs:element minOccurs="0" maxOccurs="1" name="Tag" type="cct:CodeType"/>
			<xs:element minOccurs="0" maxOccurs="unbounded" name="Description" type="cct:TextType"/>
			<xs:element minOccurs="0" maxOccurs="1" name="Inactive" type="xs:boolean"/>
			<xs:element minOccurs="0" maxOccurs="unbounded" name="Property" type="cir:Property"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="Property">
		<xs:sequence>
			<xs:element minOccurs="1" maxOccurs="1" name="ID" type="cct:IDType"/>
			<xs:element minOccurs="0" maxOccurs="unbounded" name="PropertyValue" type="cir:PropertyValue"/>
			<xs:element minOccurs="0" maxOccurs="1" name="DataType" type="cct:CodeType"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="PropertyValue">
		<xs:sequence>
			<xs:element minOccurs="0" maxOccurs="1" name="Key" type="cct:IDType"/>
			<xs:element minOccurs="1" maxOccurs="1" name="Value" type="xs:string"/>
			<xs:element minOccurs="0" maxOccurs="1" name="UnitOfMeasure" type="cct:CodeType"/>
		</xs:sequence>
	</xs:complexType>

	<!-- ================ -->
	<!-- Identifier Types -->
	<!-- ================ -->

	<xs:complexType name="RegistryIdentifier">
		<xs:sequence>
			<xs:element minOccurs="1" maxOccurs="1" name="RegistryID" type="cct:IDType"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="CategoryIdentifier">
		<xs:sequence>
			<xs:element minOccurs="1" maxOccurs="1" name="RegistryID" type="cct:IDType"/>
			<xs:element minOccurs="1" maxOccurs="1" name="CategoryID" type="cct:IDType"/>
			<xs:element minOccurs="1" maxOccurs="1" name="CategorySourceID" type="cct:IDType"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="EntryIdentifier">
		<xs:sequence>
			<xs:element minOccurs="1" maxOccurs="1" name="RegistryID" type="cct:IDType"/>
			<xs:element minOccurs="1" maxOccurs="1" name="CategoryID" type="cct:IDType"/>
			<xs:element minOccurs="1" maxOccurs="1" name="CategorySourceID" type="cct:IDType"/>
			<xs:element minOccurs="1" maxOccurs="1" name="EntryIDInSource" type="cct:IDType"/>
			<xs:element minOccurs="1" maxOccurs="1" name="EntrySourceID" type="cct:IDType"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="PropertyIdentifier">
		<xs:sequence>
			<xs:element minOccurs="1" maxOccurs="1" name="RegistryID" type="cct:IDType"/>
			<xs:element minOccurs="1" maxOccurs="1" name="CategoryID" type="cct:IDType"/>
			<xs:element minOccurs="1" maxOccurs="1" name="CategorySourceID" type="cct:IDType"/>
			<xs:element minOccurs="1" maxOccurs="1" name="EntryIDInSource" type="cct:IDType"/>
			<xs:element minOccurs="1" maxOccurs="1" name="EntrySourceID" type="cct:IDType"/>
			<xs:element minOccurs="1" maxOccurs="1" name="PropertyID" type="cct:IDType"/>
		</xs:sequence>
	</xs:complexType>

	<!-- ============ -->
	<!-- Filter Types -->
	<!-- ============ -->

	<xs:complexType name="Filter">
		<xs:sequence>
			<xs:element minOccurs="0" maxOccurs="1" name="RegistryFilter" type="cir:RegistryFilter"/>
			<xs:element minOccurs="0" maxOccurs="1" name="CategoryFilter" type="cir:CategoryFilter"/>
			<xs:element minOccurs="0" maxOccurs="1" name="EntryFilter" type="cir:EntryFilter"/>
			<xs:element minOccurs="0" maxOccurs="1" name="PropertyFilter" type="cir:PropertyFilter"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="RegistryFilter">
		<xs:sequence>
			<xs:element minOccurs="0" maxOccurs="1" name="ID" type="cct:IDType"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="CategoryFilter">
		<xs:sequence>
			<xs:element minOccurs="0" maxOccurs="1" name="ID" type="cct:IDType"/>
			<xs:element minOccurs="0" maxOccurs="1" name="CategorySourceID" type="cct:IDType"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="EntryFilter">
		<xs:sequence>
			<xs:element minOccurs="0" maxOccurs="1" name="IDInSource" type="cct:IDType"/>
			<xs:element minOccurs="0" maxOccurs="1" name="SourceID" type="cct:IDType"/>
			<xs:element minOccurs="0" maxOccurs="1" name="CIRID" type="cir:UUID"/>
			<xs:element minOccurs="0" maxOccurs="1" name="SourceOwnerID" type="cct:IDType"/>
			<xs:element minOccurs="0" maxOccurs="1" name="Tag" type="cct:CodeType"/>
			<xs:element minOccurs="0" maxOccurs="1" name="Inactive" type="xs:boolean"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="PropertyFilter">
		<xs:sequence>
			<xs:element minOccurs="0" maxOccurs="1" name="ID" type="cct:IDType"/>
			<xs:element minOccurs="0" maxOccurs="1" name="DataType" type="cct:CodeType"/>
		</xs:sequence>
	</xs:complexType>

	<!-- =========== -->
	<!-- Batch Types -->
	<!-- =========== -->

	<xs:complexType name="EquivalentEntry">
		<xs:sequence>
			<xs:element minOccurs="1" maxOccurs="1" name="ExistingIDInSource" type="cct:IDType"/>
			<xs:element minOccurs="1" maxOccurs="1" name="ExistingSourceID" type="cct:IDType"/>
			<xs:element minOccurs="1" maxOccurs="1" name="RegistryID" type="cct:IDType"/>
			<xs:element minOccurs="1" maxOccurs="1" name="CategoryID" type="cct:IDType"/>
			<xs:element minOccurs="1" maxOccurs="1" name="CategorySourceID" type="cct:IDType"/>
			<xs:element minOccurs="1" maxOccurs="1" name="Entry" type="cir:Entry"/>
		</xs:sequence>
	</xs:complexType>

	<!-- ========================= -->
	<!-- Command Services Elements -->
	<!-- ========================= -->

	<!-- CIR "Create" Command Service elements -->

	<xs:element name="CreateRegistry">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="1" maxOccurs="unbounded" name="Registry" type="cir:Registry"/>
				<xs:element minOccurs="1" maxOccurs="1" name="CreateCIRID" type="xs:boolean"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="CreateRegistryResponse">
		<xs:complexType />
	</xs:element>

	<xs:element name="CreateEquivalentEntries">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="1" maxOccurs="unbounded" name="EquivalentEntry" type="cir:EquivalentEntry"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="CreateEquivalentEntriesResponse">
		<xs:complexType />
	</xs:element>

	<!-- CIR "Update" Command Service elements -->

	<xs:element name="UpdateRegistry">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="1" maxOccurs="unbounded" name="Registry" type="cir:Registry"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="UpdateRegistryResponse">
		<xs:complexType />
	</xs:element>

	<xs:element name="UpdateEntryCIRID">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="1" maxOccurs="unbounded" name="OldCIRID" type="cct:IDType"/>
				<xs:element minOccurs="1" maxOccurs="1" name="NewCIRID" type="cct:IDType"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="UpdateEntryCIRIDResponse">
		<xs:complexType />
	</xs:element>

	<!-- CIR "Delete" Command Service elements -->

	<xs:element name="DeleteRegistry">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="1" maxOccurs="1" name="RegistryID" type="cct:IDType"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="DeleteRegistryResponse">
		<xs:complexType />
	</xs:element>

	<xs:element name="DeleteCategory">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="1" maxOccurs="1" name="RegistryID" type="cct:IDType"/>
				<xs:element minOccurs="1" maxOccurs="1" name="CategoryID" type="cct:IDType"/>
				<xs:element minOccurs="1" maxOccurs="1" name="CategorySourceID" type="cct:IDType"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="DeleteCategoryResponse">
		<xs:complexType />
	</xs:element>

	<xs:element name="DeleteEntries">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="1" maxOccurs="unbounded" name="EntryIdentifier" type="cir:EntryIdentifier" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="DeleteEntriesResponse">
		<xs:complexType />
	</xs:element>

	<xs:element name="DeleteProperties">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="1" maxOccurs="unbounded" name="PropertyIdentifier" type="cir:PropertyIdentifier"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="DeletePropertiesResponse">
		<xs:complexType />
	</xs:element>

	<!-- ========================= -->
	<!-- Query Services Elements -->
	<!-- ========================= -->

	<xs:element name="GetRegistry">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" maxOccurs="unbounded" name="Filter" type="cir:Filter"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="GetRegistryResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" maxOccurs="unbounded" name="Registry" type="cir:Registry"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="GetEquivalentEntries">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="1" maxOccurs="unbounded" name="EntryIdentifier" type="cir:EntryIdentifier"/>
				<xs:element minOccurs="0" maxOccurs="unbounded" name="TargetSourceID" type="cct:IDType"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="GetEquivalentEntriesResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" maxOccurs="unbounded" name="Registry" type="cir:Registry"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="GetEntriesByCIRID">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="1" maxOccurs="1" name="ExistingCIRID" type="cct:IDType"/>
				<xs:element minOccurs="0" maxOccurs="unbounded" name="TargetSourceID" type="cct:IDType"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="GetEntriesByCIRIDResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" maxOccurs="unbounded" name="Registry" type="cir:Registry"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<!-- ============== -->
	<!-- Fault Elements -->
	<!-- ============== -->

	<xs:element name="CreateRegistryFault">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" maxOccurs="1" name="Description" type="cct:TextType"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="CreateCategoryFault">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" maxOccurs="1" name="Description" type="cct:TextType"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="RegistryNotFoundFault">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" maxOccurs="1" name="Description" type="cct:TextType"/>
				<xs:element minOccurs="1" maxOccurs="1" name="RegistryIdentifier" type="cir:RegistryIdentifier"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="CategoryNotFoundFault">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" maxOccurs="1" name="Description" type="cct:TextType"/>
				<xs:element minOccurs="1" maxOccurs="1" name="CategoryIdentifier" type="cir:CategoryIdentifier"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="EntryNotFoundFault">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" maxOccurs="1" name="Description" type="cct:TextType"/>
				<xs:element minOccurs="1" maxOccurs="1" name="EntryIdentifier" type="cir:EntryIdentifier"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="PropertyNotFoundFault">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" maxOccurs="1" name="Description" type="cct:TextType"/>
				<xs:element minOccurs="1" maxOccurs="1" name="PropertyIdentifier" type="cir:PropertyIdentifier"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="DuplicateEntryFault">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" maxOccurs="1" name="Description" type="cct:TextType"/>
				<xs:element minOccurs="1" maxOccurs="1" name="EntryIdentifier" type="cir:EntryIdentifier"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="DuplicatePropertyFault">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" maxOccurs="1" name="Description" type="cct:TextType"/>
				<xs:element minOccurs="1" maxOccurs="1" name="PropertyIdentifier" type="cir:PropertyIdentifier"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

</xs:schema>
