2-WSDL/CommonInteroperabilityRegistry.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:cct="urn:un:unece:uncefact:documentation:standard:CoreComponentType:2"
	xmlns:tns="http://www.openoandm.org/xml/CIR/"
	targetNamespace="http://www.openoandm.org/xml/CIR/"
	elementFormDefault="qualified"
	attributeFormDefault="unqualified">

	<xs:import namespace="urn:un:unece:uncefact:documentation:standard:CoreComponentType:2" schemaLocation="CoreComponentType_2p0.xsd"/>

	<xs:annotation>
		<xs:documentation>
OpenO&amp;M Common Interoperability Registry (CIR)
Copyright 2011. MIMOSA and World Batch Forum (WBF).
All Rights Reserved. http://www.openoandm.org

This OpenO&amp;M Work (including specifications, documents, software, and related items) referred to as the OpenO&amp;M Common Interoperability Registry is provided by the copyright holders under the following license.

Permission to use, copy, modify, or redistribute this Work and its documentation, with or without modification, for any purpose and without fee or royalty is hereby granted provided OpenO&amp;M and the World Batch Forum are acknowledged as the originator of this Work using the following statement:

"The Common Interoperability Registry (CIR) is used courtesy of OpenO&amp;M. The Business To Manufacturing Markup Language (B2MML) is used courtesy of WBF."

In no event shall the OpenO&amp;M, its members, or any third party be liable for any costs, expenses, losses, damages or injuries incurred by use of the Work or as a result of this agreement.
		</xs:documentation>
	</xs:annotation>

	<!-- ========== -->
	<!-- Base types -->
	<!-- ========== -->

	<xs:simpleType name="UUID">
		<xs:annotation>
			<xs:documentation>UUID is a GUID of 32 bytes represented as hex characters with dashes. Format xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx (8-4-4-4-12 characters). See RFC 4122 - A Universally Unique IDentifier (UUID) URN Namespace.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:group name="PropertyValue">
		<xs:sequence>
			<xs:element minOccurs="0" maxOccurs="1" name="Key" type="cct:IDType"/>
			<xs:element minOccurs="1" maxOccurs="1" name="Value" type="xs:string"/>
			<xs:element minOccurs="0" maxOccurs="1" name="UnitOfMeasure" type="cct:CodeType"/>
		</xs:sequence>
	</xs:group>

	<!-- ===================== -->
	<!-- Command Service Types -->
	<!-- ===================== -->

	<xs:complexType name="Registry">
		<xs:sequence>
			<xs:element minOccurs="1" maxOccurs="1" name="ID" type="cct:IDType"/>
			<xs:element minOccurs="0" maxOccurs="unbounded" name="Description" type="cct:TextType"/>
			<xs:element minOccurs="0" maxOccurs="unbounded" name="Category" type="tns:Category"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="Category">
		<xs:sequence>
			<xs:element minOccurs="1" maxOccurs="1" name="ID" type="cct:IDType"/>
			<xs:element minOccurs="1" maxOccurs="1" name="CategorySourceID" type="cct:IDType"/>
			<xs:element minOccurs="0" maxOccurs="unbounded" name="Description" type="cct:TextType"/>
			<xs:element minOccurs="0" maxOccurs="1" name="ISO15926ReferenceURI" type="xs:anyURI"/>
			<xs:element minOccurs="0" maxOccurs="unbounded" name="Entry" type="tns:Entry"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="Entry">
		<xs:sequence>
			<xs:element minOccurs="1" maxOccurs="1" name="IDInSource" type="cct:IDType"/>
			<xs:element minOccurs="1" maxOccurs="1" name="SourceID" type="cct:IDType"/>
			<xs:element minOccurs="0" maxOccurs="1" name="CIRID" type="tns:UUID"/>
			<xs:element minOccurs="0" maxOccurs="1" name="SourceOwnerID" type="cct:IDType"/>
			<xs:element minOccurs="0" maxOccurs="1" name="Tag" type="cct:CodeType"/>
			<xs:element minOccurs="0" maxOccurs="unbounded" name="Description" type="cct:TextType"/>
			<xs:element minOccurs="0" maxOccurs="1" name="Inactive" type="xs:boolean"/>
			<xs:element minOccurs="0" maxOccurs="unbounded" name="Property" type="tns:Property"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="Property">
		<xs:sequence>
			<xs:element minOccurs="1" maxOccurs="1" name="ID" type="cct:IDType"/>
			<xs:group minOccurs="0" maxOccurs="unbounded" ref="tns:PropertyValue"/>
			<xs:element minOccurs="0" maxOccurs="1" name="DataType" type="cct:CodeType"/>
		</xs:sequence>
	</xs:complexType>

	<!-- ================ -->
	<!-- Identifier types -->
	<!-- ================ -->

	<xs:complexType name="RegistryIdentifier">
		<xs:sequence>
			<xs:element minOccurs="1" maxOccurs="1" name="RegistryID" type="cct:IDType"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="CategoryIdentifier">
		<xs:sequence>
			<xs:element minOccurs="1" maxOccurs="1" name="RegistryID" type="cct:IDType"/>
			<xs:element minOccurs="1" maxOccurs="1" name="CategoryID" type="cct:IDType"/>
			<xs:element minOccurs="1" maxOccurs="1" name="CategorySourceID" type="cct:IDType"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="EntryIdentifier">
		<xs:sequence>
			<xs:element minOccurs="1" maxOccurs="1" name="RegistryID" type="cct:IDType"/>
			<xs:element minOccurs="1" maxOccurs="1" name="CategoryID" type="cct:IDType"/>
			<xs:element minOccurs="1" maxOccurs="1" name="CategorySourceID" type="cct:IDType"/>
			<xs:element minOccurs="1" maxOccurs="1" name="EntryIDInSource" type="cct:IDType"/>
			<xs:element minOccurs="1" maxOccurs="1" name="EntrySourceID" type="cct:IDType"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="PropertyIdentifier">
		<xs:sequence>
			<xs:element minOccurs="1" maxOccurs="1" name="RegistryID" type="cct:IDType"/>
			<xs:element minOccurs="1" maxOccurs="1" name="CategoryID" type="cct:IDType"/>
			<xs:element minOccurs="1" maxOccurs="1" name="CategorySourceID" type="cct:IDType"/>
			<xs:element minOccurs="1" maxOccurs="1" name="EntryIDInSource" type="cct:IDType"/>
			<xs:element minOccurs="1" maxOccurs="1" name="EntrySourceID" type="cct:IDType"/>
			<xs:element minOccurs="1" maxOccurs="1" name="PropertyID" type="cct:IDType"/>
		</xs:sequence>
	</xs:complexType>

	<!-- ============ -->
	<!-- Filter types -->
	<!-- ============ -->

	<xs:complexType name="Filter">
		<xs:sequence>
			<xs:element minOccurs="0" maxOccurs="1" name="RegistryFilter" type="tns:RegistryFilter"/>
			<xs:element minOccurs="0" maxOccurs="1" name="CategoryFilter" type="tns:CategoryFilter"/>
			<xs:element minOccurs="0" maxOccurs="1" name="EntryFilter" type="tns:EntryFilter"/>
			<xs:element minOccurs="0" maxOccurs="1" name="PropertyFilter" type="tns:PropertyFilter"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="RegistryFilter">
		<xs:sequence>
			<xs:element minOccurs="0" maxOccurs="1" name="ID" type="cct:IDType"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="CategoryFilter">
		<xs:sequence>
			<xs:element minOccurs="0" maxOccurs="1" name="ID" type="cct:IDType"/>
			<xs:element minOccurs="0" maxOccurs="1" name="CategorySourceID" type="cct:IDType"/>
			<xs:element minOccurs="0" maxOccurs="1" name="ISO15926ReferenceURI" type="xs:anyURI"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="EntryFilter">
		<xs:sequence>
			<xs:element minOccurs="0" maxOccurs="1" name="IDInSource" type="cct:IDType"/>
			<xs:element minOccurs="0" maxOccurs="1" name="SourceID" type="cct:IDType"/>
			<xs:element minOccurs="0" maxOccurs="1" name="CIRID" type="tns:UUID"/>
			<xs:element minOccurs="0" maxOccurs="1" name="SourceOwnerID" type="cct:IDType"/>
			<xs:element minOccurs="0" maxOccurs="1" name="Tag" type="cct:CodeType"/>
			<xs:element minOccurs="0" maxOccurs="1" name="Inactive" type="xs:boolean"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="PropertyFilter">
		<xs:sequence>
			<xs:element minOccurs="0" maxOccurs="1" name="ID" type="cct:IDType"/>
			<xs:element minOccurs="0" maxOccurs="1" name="DataType" type="cct:CodeType"/>
			<xs:element minOccurs="0" maxOccurs="1" name="Mandatory" type="xs:boolean"/>
		</xs:sequence>
	</xs:complexType>

	<!-- ============== -->
	<!-- Fault elements -->
	<!-- ============== -->

	<xs:element name="CreateRegistryFault">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" maxOccurs="1" name="Description" type="cct:TextType"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="CreateCategoryFault">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" maxOccurs="1" name="Description" type="cct:TextType"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="RegistryNotFoundFault">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" maxOccurs="1" name="Description" type="cct:TextType"/>
				<xs:element minOccurs="1" maxOccurs="1" name="RegistryIdentifier" type="tns:RegistryIdentifier"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="CategoryNotFoundFault">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" maxOccurs="1" name="Description" type="cct:TextType"/>
				<xs:element minOccurs="1" maxOccurs="1" name="CategoryIdentifier" type="tns:CategoryIdentifier"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="EntryNotFoundFault">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" maxOccurs="1" name="Description" type="cct:TextType"/>
				<xs:element minOccurs="1" maxOccurs="1" name="EntryIdentifier" type="tns:EntryIdentifier"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="PropertyNotFoundFault">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" maxOccurs="1" name="Description" type="cct:TextType"/>
				<xs:element minOccurs="1" maxOccurs="1" name="PropertyIdentifier" type="tns:PropertyIdentifier"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="DuplicateEntryFault">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" maxOccurs="1" name="Description" type="cct:TextType"/>
				<xs:element minOccurs="1" maxOccurs="1" name="EntryIdentifier" type="tns:EntryIdentifier"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="DuplicatePropertyFault">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" maxOccurs="1" name="Description" type="cct:TextType"/>
				<xs:element minOccurs="1" maxOccurs="1" name="PropertyIdentifier" type="tns:PropertyIdentifier"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

</xs:schema>
